/.android
/.lesshst
/.cache
/.mozilla
/Common
/.vscode
/.pki
/Downloads
/.config/pulse
/.config/chromium
/.bashbox
/.ICEauthority
/.Xauthority
/.config/Code
/.config/Thunar
/.config/dconf
/.config/gh
/.local/bin/local-companion-app.log
/.local/share/nvim/.netrwhist
/.ssh
/.vnc/passwd
/.config/xfce4/desktop
/.local/share/fish/generated_completions
/.local/share/keyrings
/.local/share/nvim/swap
/.local/share/recently-used.xbel
/.npm
/.private
/target
