Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(255,79,0)
Color_Out=rgb(255,229,0)
Text=Net
Network_Device=ccmni0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=3000
Values_As_Bits=false

